---
---

@import "{{ site.theme }}";

header {
  display: none !important;
}

.page-header {
  display: none !important;
}

.site-header {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  border: none !important;
  border-bottom: none !important;
  border-left: none !important;
}